@model PanPanIntranet.Models.Employee


@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<!--
    ToDo:
    -Reset button to reset back to original values?
    -Working back button (may need to just use JS)
-->

@using (Html.BeginForm("UpdateUserDetails", "EmployeeDetails", FormMethod.Post))
{
    <p>
        <!--ID field visible but not modifiable-->
        <label>ID:</label>
        @Html.TextBoxFor(m => m.EmployeeID, new { @readonly = true })
    </p>

    <p>
        <label>Last Name:</label>
        @Html.TextBoxFor(m => m.LastName)
    </p>

    <p>
        <label>First Name:</label>
        @Html.TextBoxFor(m => m.FirstName)
    </p>

    <p>
        <label>Address:</label>
        @Html.TextBoxFor(m => m.Address)
    </p>

    <p>
        <label>Phone Number:</label>
        @Html.TextBoxFor(m => m.Phone)
    </p>

    <p>
        <label>Role:</label>
        @Html.EnumDropDownListFor(m => m.Role)
    </p>

    <input type = "submit" value = "Update" />

}



<button>Back</button>